<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-toolbar>Contatos</mat-toolbar>

    <app-users-vertical-list></app-users-vertical-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar"
                 color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <section class="toolbar-right-side">
        <ng-container *ngIf="_user$ | async as user">
          <span>Olá, {{user?.name}}</span>
          <app-user-avatar [user]="user"></app-user-avatar>
        </ng-container>
      </section>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>