.full-width {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.login-card {
  min-width: 120px;
  max-width: 300px;
}

.col {
  display: flex;
  flex-direction: column;

  &>* {
    flex: 1;
    margin-right: 20px;
  }
}

.actions-center {
  display: flex;
}

.action-login-button {
  flex: 1;
}
