.container {
  display: flex;
  margin: 20px;
}

.photo {
  flex: 1;
  position: relative;

  img {
    width: 100%;
    cursor: pointer;
  }

  mat-spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &.disabled {
    background-size: cover;
    opacity: 0.2;
    overflow: hidden;
  }
}

.user-data {
  flex: 4;
  margin-left: 20px;
  padding: 10px 20px;
}