.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.photo {
  width: 80px;
  height: 80px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}